@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  background-color: #EAEAEA;
}

body {
  font-family: "roboto", sans-serif;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.submenu-card:nth-of-type(0n + 1) {
  transform: scale(0);
  animation: 600ms grow 0.1s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 2) {
  transform: scale(0);
  animation: 600ms grow 0.2s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 3) {
  transform: scale(0);
  animation: 600ms grow 0.3s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 4) {
  transform: scale(0);
  animation: 600ms grow 0.4s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 5) {
  transform: scale(0);
  animation: 600ms grow 0.5s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 6) {
  transform: scale(0);
  animation: 600ms grow 0.6s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 7) {
  transform: scale(0);
  animation: 600ms grow 0.7s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 8) {
  transform: scale(0);
  animation: 600ms grow 0.8s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 9) {
  transform: scale(0);
  animation: 600ms grow 0.9s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

.submenu-card:nth-of-type(0n + 10) {
  transform: scale(0);
  animation: 600ms grow 1s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.loader-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#FF79DA -5.2%, #9356DC 110.74%);
  color: black;
  z-index: 2;
  animation: loader-display 100ms linear 3s forwards;
}

.text {
  display: flex;
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
}

.letter:nth-of-type(0n + 1) {
  animation: bounce 1s ease infinite 0.1s;
  -webkit-animation: bounce 1s ease infinite 0.1s;
}

.letter:nth-of-type(0n + 2) {
  animation: bounce 1s ease infinite 0.2s;
  -webkit-animation: bounce 1s ease infinite 0.2s;
}

.letter:nth-of-type(0n + 3) {
  animation: bounce 1s ease infinite 0.3s;
  -webkit-animation: bounce 1s ease infinite 0.3s;
}

.letter:nth-of-type(0n + 4) {
  animation: bounce 1s ease infinite 0.4s;
  -webkit-animation: bounce 1s ease infinite 0.4s;
}

.letter:nth-of-type(0n + 5) {
  animation: bounce 1s ease infinite 0.5s;
  -webkit-animation: bounce 1s ease infinite 0.5s;
}

.letter:nth-of-type(0n + 6) {
  animation: bounce 1s ease infinite 0.6s;
  -webkit-animation: bounce 1s ease infinite 0.6s;
}

.letter:nth-of-type(0n + 7) {
  animation: bounce 1s ease infinite 0.7s;
  -webkit-animation: bounce 1s ease infinite 0.7s;
}

.letter:nth-of-type(0n + 8) {
  animation: bounce 1s ease infinite 0.8s;
  -webkit-animation: bounce 1s ease infinite 0.8s;
}

@keyframes loader-display {
  90% {
    opacity: 0;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0.4);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}
.header {
  position: relative;
}

.new {
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  color: #008766;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.website-title {
  background-color: white;
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 0.7rem 0 0.2rem 0;
  box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  font-weight: 400;
  font-size: 2rem;
}

.location {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #EAEAEA;
}

.location-icon {
  margin-right: 1em;
}

.location-text {
  font-size: 1rem;
}

.desc {
  padding: 2rem 2rem 3rem 2rem;
  text-align: center;
  background-color: #F6F6F6;
}

.desc-desc {
  font-size: large;
  font-weight: 300;
  margin: 1rem 0 2rem 0;
}

.btn {
  position: relative;
  background: linear-gradient(#FF79DA -5.2%, #9356DC 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2em;
  border-style: none;
  color: white;
  padding: 1rem 1.5rem;
}
.btn:hover {
  box-shadow: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.btn:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2em;
  cursor: pointer;
}
.btn span {
  font-weight: 500;
  font-size: medium;
  font-family: "roboto", sans-serif;
}

.howto {
  padding: 2rem 1rem;
}

.howto-number {
  color: white;
  background-color: #9356DC;
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
  margin-left: -1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howto-step {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 1rem;
  margin: 2rem 0 2rem 0.8rem;
}
.howto-step:last-child {
  background-color: #F5EDFF;
}
.howto-step:last-child .howto-icon {
  color: #9356DC;
}

.howto-icon-container {
  width: 1.1rem;
  margin-right: 1.5rem;
}

.howto-icon {
  font-size: larger;
  color: #7E7E7E;
}

.howto-desc {
  font-weight: 600;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 3rem 1rem 2rem;
}

.restaurant-title {
  margin-bottom: 1.5rem;
}

.restaurant-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 1rem;
}
.restaurant-card img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
  border-radius: 15px 15px 0 0;
}

.restaurant-card-container {
  position: relative;
}

.restaurant-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant-desc {
  padding: 1rem;
}

footer {
  background-color: #353535;
  padding: 1.5rem 1rem;
  color: white;
}
footer p {
  margin-bottom: 0.5rem;
}

.footer-title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: larger;
  margin-bottom: 1rem;
}

.footer-text-container {
  display: flex;
  align-items: baseline;
}

.footer-icon {
  margin-right: 0.5rem;
  font-size: small;
  width: 1rem;
}

.restaurant-fav-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5rem;
  height: 4.85rem;
  cursor: pointer;
}

.restaurant-fav-icon {
  fill: transparent;
  stroke: black;
  stroke-width: 50;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-block: 35%;
}
.restaurant-fav-icon svg {
  overflow: visible;
  width: 1.5rem;
}
.restaurant-fav-icon path {
  transform-origin: center;
}
.restaurant-fav-icon .heart-bkg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  stroke: none;
  margin-inline: 35%;
}

.restaurant-fav-container:hover .heart-main path {
  animation: fill-animation 300ms ease-in-out forwards;
}

.restaurant-fav-container:hover .heart-bkg path {
  animation: explode-animation 600ms ease-in-out forwards;
}

@keyframes fill-animation {
  0% {
    transform: scale(1);
  }
  89% {
    stroke: black;
    fill: transparent;
  }
  90% {
    transform: scale(1.5);
    stroke: url(#MyGradient);
    fill: url(#MyGradient);
  }
  100% {
    transform: scale(1);
    stroke: url(#MyGradient);
    fill: url(#MyGradient);
  }
}
@keyframes explode-animation {
  0% {
    opacity: 0;
  }
  35% {
    fill: #FF79DA;
    transform: scale(1);
  }
  45% {
    opacity: 0;
  }
  46% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.header-arrow {
  position: absolute;
  left: 1.5rem;
  top: 2rem;
  z-index: 1;
}

.restaurant-picture-container {
  position: relative;
  z-index: -1;
}

.restaurant-picture {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu-container {
  background-color: #F6F6F6;
  padding: 1.5rem 1rem;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
}

.menu-title-fav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.7rem;
}

.submenu-title {
  position: relative;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

#menu-fav {
  position: inherit;
  height: auto;
}

#menu-fav-icon {
  margin-block: 0;
}

.submenu-title::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submenu-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-block: 1rem;
  background-color: white;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  max-width: 100%;
}
.submenu-card:hover .submenu-check {
  margin: 0;
}

.submenu-desc {
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.submenu-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.submenu-ingredients {
  padding-top: 0.3rem;
  font-size: 0.85rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.submenu-price {
  padding: 1rem;
  align-self: flex-end;
}

.submenu-check {
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.2rem;
  margin: 0 -3.7rem 0 0;
  transition: margin 500ms;
}

.submenu-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.2rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
}

.submenu-check i {
  color: #99E2D0;
}

#btn-container {
  padding: 0 2rem 2.5rem 2rem;
}

#order-btn {
  padding-inline: 3rem;
}

@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .loader-container {
    max-width: 1440px;
  }
  .website-title {
    padding: 1rem 0;
    font-size: 2.5rem;
  }
  .header-arrow {
    left: 4rem;
    top: 3rem;
  }
  .desc h2 {
    font-size: 2.5rem;
  }
  .howto {
    max-width: 1024px;
    margin: auto;
    padding-bottom: 3rem;
  }
  .desktop-steps {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .restaurant {
    padding: 3rem 0 2rem;
    overflow: hidden;
  }
  .desktop-restaurants {
    max-width: 1024px;
    margin: auto;
    padding-inline: 1rem;
  }
  .desktop-cards {
    display: flex;
    gap: 2rem;
  }
  .restaurant-card-container {
    min-width: 20rem;
  }
  .restaurant-fav-container {
    width: 4rem;
    height: 5rem;
    bottom: 1rem;
    cursor: pointer;
  }
  .restaurant-fav-icon {
    margin-block: 45%;
  }
  .menu-title-fav {
    justify-content: center;
  }
  .menu-container {
    margin: -3rem 10rem 0 10rem;
  }
  #btn-container {
    margin-inline: 10rem;
  }
  .desktop-menu {
    margin-inline: 10rem;
  }
  footer {
    display: flex;
    align-items: baseline;
    gap: 4rem;
    justify-content: flex-end;
    padding: 1.5rem 5rem 1.5rem 1rem;
  }
  .footer-title {
    order: 1;
    margin-block: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
